
/*==========================================
 globals
 ==========================================*/
 
body { font-size:13px; }

h1 { font-size:31px; }
h2 { font-size:24px; }
h3 { font-size:20px; }
h4 { font-size:20px; }
h5 { font-size:17px; }
h6 { font-size:14px; }

/*==========================================
  layout / general content
 ==========================================*/

#site-wrapper { max-width:776px; }

#header, #content, #upper-footer, #lower-footer
{ 
	margin: 0 auto;
	padding: 0;
	width: 716px;
}

/* 2 column layout */
#tf-left-column
{
	width: 465px;
	height: auto;
}

#tf-left-column .content-container { padding-right:25px; }

#tf-right-column
{
	width: 250px;
	height: auto;
}

#tf-right-column .content-container { padding-left:25px; }

/*==========================================
  header
==========================================*/

#header { padding-top:34px; }

#header a#logo { width:180px; }

/*==========================================
 persistent search
==========================================*/

#persistent-search { width:220px; }

/*==========================================
 navigations
==========================================*/
 
#main-nav { margin-top:30px; }

#main-nav #main-nav-container { width: 600px; }

#main-nav #main-nav-container ul.menu li.menu-item a
{
	height: 26px;
	max-width: 172px;
	padding-top: 13px;
	font-size: 13px;
}

/* main nav sub menus */
#main-nav #main-nav-container ul.menu li.menu-item ul.sub-menu { width: 170px; }

/* main nav sub menu list items */
#main-nav #main-nav-container ul.menu li.menu-item ul.sub-menu li.menu-item { width: 170px; }

/* icon menu */
ul#icon-menu { bottom: 8px; }

/*==========================================
 page title
==========================================*/

#tf-page-title { padding:23px 0; border-bottom-width:6px; }

#tf-page-title.greeting-title { padding:30px 0; }

#tf-page-title.greeting-title h1 { font-size:29px; }

/*==========================================
 posts
==========================================*/

div.post,
div.page
{
	margin-top: 35px;
	padding-top: 35px;
}
 
ol#comment-list li.comment-list-item div.comment .avatar { width:60px; }

ol#comment-list li.comment-list-item div.comment div.comment-body { padding: 0 0 0 75px; }

/*==========================================
  sidebar widgets
==========================================*/

ul.sidebar li.sidebar-widget-item { padding-top:25px; padding-bottom:25px; }

ul.sidebar li.sidebar-widget-item h5 { padding-bottom: 10px; }

/*==========================================
  footers
==========================================*/
 
#upper-footer { overflow:hidden; padding: 40px 0; }

/*==========================================
  widgets (footer)
==========================================*/
 
#upper-footer ul#footer-widgets
{ 
	width: 738px;
	margin-left: -22px;
	margin-bottom: -34px;
}

#upper-footer ul#footer-widgets li.footer-widget-item
{
	width: 224px;
	margin-left: 22px;
	margin-bottom: 34px;
}

/** Additions **/

#main-nav {

	margin-top: 12px;
	
}


#main-nav #main-nav-container ul.menu li.menu-item a {

	font-style: bold;
	
}

#content {

	border: 0;

}

#more-left-column {

	visibility:hidden;
	width: 0;
	height: 0;
	
}

#tf-right-column
{
	width: 249px;
	height: auto;
}

#tf-right-column .content-container {

	margin-left: 0;
	padding-bottom: 25px;
	padding-left: 25px;
	margin-right: 0;
	padding-right: 0;
	padding-top: 0;

}

ul.sidebar li.sidebar-widget-item {
border-top-width: 1px;
}

#tf-left-column .hentry {

	padding-left: 0px;

}

#tf-left-column {

	border-left-width: 0px;
	margin-left: 0;
	
}

#tf-left-column .featured-box .hentry {

	margin: 0 25px 0 0;
	
}

#tf-left-column .featured-box .hentry .photo-frame {

	width:440px;

}

.hentry h2 {

	padding-top: 10px;
	
}

#upper-footer ul#footer-widgets li.footer-widget-item  {

	width: auto;
	
}

ul#footer-widgets li.footer-widget-item .responsive-container {

	padding-bottom: 4.50%;

}

.twofifty .responsive-container {

	padding-bottom: 65%;
	
}

.twofifty .responsive-container iframe, .twofifty .responsive-container object {

	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
	width: 300px;
	height: 250px;

}
