body {

	border-top: #FFD524 3px solid;
	font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif;
	color: black;
		
}

p {

	font-size: 12px;
	margin-bottom: 1em;

}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a h1, a h2, a h3, a h4, a h5, a h6 {

	color:black;
	font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif;

}

a {

	text-decoration: none;
	color: #00ACFF;
	
}

a: hover {

	text-decoration: underline;
	
}

#tf-right-column {

	width: 326px;

}

#tf-left-column {

	width: 482px;
	margin-left:-1px;
	border-left-width: 1px;
	padding-left: 30px;
	
}

#more-left-column {

	width: 150px;
	height: auto;
	border-right: 1px solid #999;
	float:left;
	height: auto;
	padding-top: 12px!important;
	font-size: 12px;
	
}

#left-cats {

	margin-right: 20px;
	
}

.left-cat-box ul {

	list-style-type: none;
	padding: 0;
	margin: 0;
	
}

#tf-left-column .hentry {

	padding-left: 30px;

}

#header {

	padding-top: 20px;
	
}

#main-nav {

	border-top-width: 0;
	margin-top: 2px;
}

#main-nav #main-nav-container ul.menu li.menu-item {

	background: transparent;
	
}

#main-nav-container .menu a {

	background: transparent;
	font-size: 16px;
	border-bottom: transparent 3px solid;
	font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif;
	
}

#main-nav #main-nav-container ul.menu li.menu-item a {

	font-size: 16px;
	background: transparent;

}

#main-nav #main-nav-container ul.menu li.menu-item a:hover {

	background: transparent;

}

#main-nav-container .menu a:hover {

	border-bottom: #FFD524 3px solid;
	background: transparent;
	padding: 5px;
	
}

#main-nav-container .menu a span {

	color: black;
	background: transparent;
	
}

div.post, div.page {

	border-top-width: 0;
	padding-top: 14px;
	margin-top: 14px;

}

.persistent-content h2 {

	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	
}

.persistent-content h2 a {


	color: black!important;
	cursor: auto;
	font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif;

}

.persistent-content h2 a:hover {

	text-decoration: underline;

}

.meta a {

	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif;
	font-weight: bold;
	cursor: auto;
	color: #666;
	
}

.meta a:hover {

	cursor: auto;
	color: #666;
	text-decoration: none;
	
}

.meta {

	color: #666;

}

div.post .entry, div.page .entry {

	margin-top: 0;

}

#tf-right-column.layout-container {

	padding-top: 12px;
	
}

#tf-right-column .content-container {

	margin-left: 12px;
	padding-bottom: 12px;
	padding-left: 0px;
	
}

#tf-right-column .sidebar h5, #left-cats .left-cat-title h5 {

	font-weight: bold;
	font-size: 14px;
	padding-bottom: 2px;
	
}

#tf-right-column .widget_rss h5 {

	padding-bottom: 6px;
	
}

#tf-right-column .widget_rss h5 img {

	border:0;
	width:0;
	height: 0;
	margin-left: -5px;
	
}

#tf-right-column .widget_rss a {

	color:black;
	font-style: normal;
	
}

#tf-right-column .widget_rss ul li {

	border-top: 0;
	padding: 5px 0;
	
}

.pagination {

	margin-left: 30px;
	
}

.featured-box .hentry {

	padding: 6px;
	margin: 0 30px;
	background-color: black;
	color: white;

}